<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <statusListener class="ch.qos.logback.core.status.NopStatusListener" />
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <charset>UTF-8</charset>
      <pattern>
        %yellow(%d{dd/MMM/YYYY HH:mm:ss.SSS}) %highlight(%-5level) %cyan(%logger{36}) - %msg%n
      </pattern>
    </encoder>
  </appender>


  <logger name="com.github.acteek" level="DEBUG"/>
  <logger name="org.apache.kafka" level="WARN"/>
  <logger name="org.http4s" level="WARN"/>
  <logger name="fs2.kafka" level="WARN"/>
  <logger name="com.bot4s.telegram.clients.SttpClient" level="WARN"/>

  <root level="WARN">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>
